*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, black,darkblue,maroon,black);
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
    text-shadow: 2px 2px 4px gold;
}
summary{
    margin: 0% auto;
    width: 60px;
    font-size: 25px;
    background-color: rgba(245, 245, 245, 0.075);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(153, 205, 50, 0.774);
    list-style-type: none;
    color: wheat;
    cursor: pointer;
}
summary:hover{
    transform: scale(1.10);
    transition: 0.5s;
}
#card-element{
    margin: 0% auto;
    width: 80%;
    position: relative;
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.555);
 
   
}
#pay-button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 4px black;
    background-color: rgb(11, 160, 11);
    box-shadow: 0px 2px 6px black;
    border-bottom: 1px solid rgba(255, 217, 0, 0.795);
}

#pay-button:hover {
    transform: scale(1.10);
    transition: 0.5s;
    background-color: rgb(61, 233, 61);    
    text-shadow: 2px 2px 4px black;
}
#product-list{
    margin: 0% auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#product-list li{
    margin: 0% auto;
    list-style-type: none;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.178);
    border: 1px solid lightskyblue;
    border-radius: 10px;
    box-shadow: 0px 2px 8px black;
    margin-bottom: 20px;
    height: 250px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
#product-list img{
    margin: 0% auto;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px black;
}
#product-list button{
    margin: 0% auto;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
#product-list button:hover{
    transform: scale(1.10);
    transition: 1s;
}
#product-list select{
    width: 100px;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: rgb(235, 235, 235);
    color: black;
    cursor: pointer;

}

.cart-container{
    position: fixed;
    margin: 0% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 400px;
    background-color: rgba(245, 245, 245, 0.877);
    border-radius: 10px;
    box-shadow: 0px 2px 8px black;
    padding: 10px;
    z-index: 100;
    margin-top: 20px;
    color: black;
    display: inline;
    overflow-y: auto;
}

#cart-items img{
    margin: 0% auto;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px black;
    margin-bottom: 5px;
}



@media (min-width: 768px){
    #card-element{
        width: 400px;
    }
    #product-list{
        grid-template-columns: repeat(4, 1fr);
        
    }
}